extends layout

block content
  h1 #{title}
  hr
  form.form(method='POST' action='')
    div.form-group.form
      if centreToEdit
        label(for='name') Centre name:
          input#name.form-control(type='text', placeholder='i.e Surrey Hills', name='name', required, value= centreToEdit .name)    
      else 
        label(for='name') Centre name:
          input#name.form-control(type='text', placeholder='i.e Surrey Hills', name='name', required)
      br  
      for classroom in classroom_list
        div.checkbox-container
          if centreToEdit
            input.classroom.form-check-input( checked=  centreToEdit.classroom.includes(classroom.name) ? true : false type='checkbox', name='classroom' value= classroom.name  )
          else 
            input.classroom.form-check-input( type='checkbox', name='classroom' value= classroom.name  )
          label.form-check-label(for='classroom') #{classroom.name}
    button.btn.btn-primary(type='submit' onclick="location.href=`/api/centres/${centreToEdit ? centreToEdit._id : '' }`" ) Save Centre
    button.btn.btn-secondary(type='button' onclick='location.href="/api/centres"') Cancel
  br
  br  
  if centre
    hr
    p "#{centre.name}" added.
  if valErr
    div
      br
      hr
      p.valErr #{valErr}
  if deletedCentre
    hr
    p "#{deletedCentre}" is deleted.
  table.table.table-foods
    tr
      th Centre
    for centre in centres
      tr
        td #{centre.name}
        td
          a.btn.btn-primary(target='_self' href=`/api/centres/${centre._id}` )
            svg.bi.bi-pencil(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
              path(d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z')  
          a.btn.btn-danger( data-centreId=centre._id data-centreName=centre.name onclick='deleteConfirmCentre(event,this)' target='_self' data-toggle='modal' data-target='#ModalCenter'  )
            svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
              path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z')
              path(fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z')      
  #ModalCenter.modal.fade.bd-modal-sm(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-sm(role='document')
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body#modal-message
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
          a.btn.btn-danger#confirm-delete-btn(target='_self') Delete  
  if errors 
   ul
    for error in errors
     li!= error.msg