extends layout

block content
  h1 #{title}
  hr
  form.form(method='POST' action='')
    div.form-group.form
      if centreToEdit
        label(for='name') Centre name:
          input#name.form-control(type='text', placeholder='i.e Surrey Hills', name='name', required, value= centreToEdit .name)    
      else 
        label(for='name') Centre name:
          input#name.form-control(type='text', placeholder='i.e Surrey Hills', name='name', required)
      br  
      for classroom in classroom_list
        div.checkbox-container
          if centreToEdit
            input.classroom.form-check-input( checked=  centreToEdit.classroom.includes(classroom.name) ? true : false type='checkbox', name='classroom' value= classroom.name  )
          else 
            input.classroom.form-check-input( type='checkbox', name='classroom' value= classroom.name  )
          label.form-check-label(for='classroom') #{classroom.name}
    button.btn.btn-primary(type='submit' onclick="location.href=`/api/centres/${centreToEdit ? centreToEdit._id : '' }`" ) Save
    button.btn.btn-secondary(type='button' onclick='location.href="/api/centres"') Cancel
  br
  br  
  if centre
    p "#{centre.name}" added.
  if valErr
    div
      br
      hr
      p.valErr #{valErr}
  if deletedCentre
    hr
    p "#{deletedCentre}" is deleted.
  table.table.table-foods
    tr
      th Centre
    for centre in centres
      tr
        td #{centre.name}
        td
          a.btn.btn-primary(target='_self' href=`/api/centres/${centre._id}` )
            != h.icon('pencil')
          a.btn.btn-danger( data-centreId=centre._id data-centreName=centre.name onclick='deleteConfirmCentre(event,this)' target='_self' data-toggle='modal' data-target='#ModalCenter'  )
            != h.icon('trash')
  #ModalCenter.modal.fade.bd-modal-sm(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-sm(role='document')
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body#modal-message
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
          a.btn.btn-danger#confirm-delete-btn(target='_self') Delete  
  if errors 
   ul
    for error in errors
     li!= error.msg